@model IEnumerable<MVCDemo.Models.Employee>

@using MVCDemo.Models
@{
    ViewBag.Title = "Employee List";
}

@*<h2>Index</h2>*@

<div style="font-family:Arial;">
    <h4>Employee List </h4>
    <ul>
        @foreach(Employee employee in @Model)
        {
            <li>
                @Html.ActionLink(employee.Name, "GetDetails",new { id = employee.EmployeeId})
            </li>
        }
    </ul>  
    <p>
        @Html.ActionLink("Back to Department List", "Index","Department")
    </p>
</div>

